.loader {
  border: 3px solid rgba(0, 0, 0, 0.1);
  border-radius: 50%;
  border-top-color: var(--text-blue) !important;
  animation: spin 1s ease-in-out infinite;
  margin: auto;
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

/* Container styles if needed */
.container {
  display: flex;
  justify-content: center;
  align-items: center;
}
